.resultCard{
    background-color: #E15F4A;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
    border-radius: 10px;
    border: 1px solid black;
}

.resultCard h3{
    flex-grow: 3;
}

.resultInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}